<div>

    <!-- /.panel -->
    <div class="row" style="padding-top: 15px;">
        <div class="col-lg-11">
            <div class="panel panel-default">
                <div class="panel-heading" style="font-weight: bold;">
                    <i class="fa fa-clock-o fa-fw"></i> Contact Us
                </div>
                <div class="panel-body">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge"><i class="fa fa-check"></i>
                            </div>
                            <div class="timeline-panel">
                                <h5 class="timeline-heading" style="font-weight: bold; font-size: 20px;">
                                  Contact Us!

                                </h5>
                                <div class="timeline-body" style="font-size: 16px;">
                                    <p>
                                        Bla Bla Bla  asdfasdfasdf
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
